<h1>Tasks Today</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Date</th>
        <tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.id %></td>
            <td><%= task.name %></td>
            <td><%= task.body %></td>
            <td><%= task.task_date %></td>
        <tr>
        <% end %>
    <tbody>
</table>
