
<h1 class="text-center m-5">
    <%= @article.name %>
</h1>

<p class="text-center">
    <%= @article.body %>
</p>


<%# <button type="button" class="btn btn-warning">Warning</button> %>
<div class="col text-center">
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-warning ml-auto" if current_user %> 
</div>

<%= render 'comments/index', comments: @comments %>