<h1>Blog App</h1>


<%= link_to "Articles", articles_path %>
</br>
<%= link_to "Login", new_user_session_path if current_user.nil?%>
<%= link_to "Logout", destroy_user_session_path, method: :delete if current_user %>