<h1>Showing selected category</h1>

<p>
    Title: <%= @category.name %>
</p>

<%= link_to "Edit this category", edit_category_path(@category) %> |
<%= link_to "Back to categories listing", categories_path %>

<br>
<%= render 'tasks/index', tasks: @tasks%>